<html lang="en"
			xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
			data-namespace-typo3-fluid="true">

<table class="tx-jwforms" >
	<tr>
		<td>
			<f:translate key="tx_jwforms_domain_model_form.title" />
		</td>
		<td>
			{form.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jwforms_domain_model_form.file" />
		</td>
		<td>
			{form.file}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jwforms_domain_model_form.category" />
		</td>
		<td>
			{form.category}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jwforms_domain_model_form.url_to_file" />
		</td>
		<td>
			{form.urlToFile}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jwforms_domain_model_form.tags" />
		</td>
		<td>
			{form.tags}
		</td>
	</tr>
</table>
</html>
